.input-container {
    margin-top: 1rem;
}

#header-section {
    text-align: center;
}

#input-section {
    margin: 2rem 1rem;
}

button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-color: aliceblue;
    margin-top: 2rem;
    padding: 0.25rem 0.5rem;
}

#result-container {
    margin-top: 3rem;
    text-align: center;
}

#result  {
    font-weight: bolder;
    font-size: xx-large;
}

