.mouse-over-input {
    border: solid 3px rgb(185, 209, 246);
}

.result {
    margin-left: 1rem;
    color: rgb(29, 190, 83);
    font-size: larger;
}

input, select {
    border-radius: 5px;
}

.main-container {
    text-align: center;
}

.title {
    margin: 2rem 0 4rem 0;
}

.const {
    margin-bottom:  3rem;
}

.selection-section {
    margin: 0 10%;
}


#inputEntered {
    width: 8rem;
}

button {
    margin: 3rem 0 2rem;
}

.result-container {
    font-size: x-large;
    font-weight: bold;
}

#sameUnit {
    color: brown;
}

img {
    width: 15%;
    display: inline;
}

.p-name {
    font-weight: bolder;
    font-size: 25px;
}

.selection-element label{
    margin-left: 1rem;
    height: 5rem;
}

.img-area img:hover {
    transition: 1s ease-in-out;
    rotate: 1 2 1 360deg;
}